@define-color text            @foreground;
@define-color background-alt  alpha(@color1, .4);
@define-color selected        @color6;
@define-color hover           alpha(@selected, .4);
@define-color urgent          @color2;


* {
  color:            @text;

  all: unset;
  font-size: 14px;
  font-family: "JetBrains Mono Nerd Font 10";
  transition: 200ms;

}

/* Avoid 'annoying' backgroud */
.blank-window {
  background: transparent;
}

/* CONTROL CENTER ------------------------------------------------------------------------ */

/* WIDGETS --------------------------------------------------------------------------- */


  /* Buttons menu */
  .widget-buttons-grid {
    font-size: x-large;
    padding: 2px 2px;
    margin:  -16px 0 8px 0;
    border-radius: 14px;
    background: @background-alt;
  }
  
  .widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 8px 8px;
    padding: 8px 16px;
    background: transparent;
    border-radius: 14px;
  }
  
  .widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @hover;
  }

/* Brightness */
.widget-backlight {
  padding: 8px 8px 8px 16px;
  margin: 0 0 8px 0;
  border-radius: 14px;
  background: @background-alt;
}

slider {
}

.widget-backlight label {
}

.widget-backlight trough {
  background: @hover;
  margin: 0 8px;
}

.widget-backlight trough highlight {
  background: @selected;
  margin: 8px;
  border: unset;
}

.widget-backlight button {
  padding: 0 4px;
}

/* Volume */
.widget-volume {
  padding: 8px 8px 8px 16px;
  margin: 0 0 8px 0;
  border-radius: 14px;
  background: @background-alt;
}

slider {
}

.widget-volume label {
}

.widget-volume trough {
  background: @hover;
  margin: 0 8px;
}

.widget-volume trough highlight {
  background: @selected;
  margin: 8px;
  border: unset;
}

.widget-volume button {
  padding: 0 4px;
}

  /* Music player */
  .widget-mpris {
    background: @background-alt;
    border-radius: 14px;
    color: @text;
    margin:  0;
  }

  /* NOTE: Background need *opacity 1* otherwise will turn into the album art blurred  */
.widget-mpris-player {
    background-color: alpha(@background, .7);
    border-radius: 14px;
    padding: 6px 14px;
    border: 3px solid @selected;
    margin: 6px
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 14px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
}

.widget-mpris button:hover {
  color: @text;
}

.widget-mpris-album-art {
  border-radius: 100px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}


/* Notification clear button */
.widget-title {
  font-size: 1.5rem;
  margin: 0;
}

.widget-title button {
  background: @background-alt;
  border-radius: 14px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background: @hover;
}

/* Do not disturb */
.widget-dnd {
  margin: 8px 0px;
}

.widget-dnd > switch {
  background: @background-alt;
  color: @selected;
  border-radius: 14px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @hover;
  color: @selected;
}

.widget-dnd > switch:hover:checked {
  background: @hover;
  color: @selected;
}

.widget-dnd > switch:checked {
  background: @hover;
  border-radius: 14px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch slider {
  background: @hover;
  border-radius: 14px;
  border: 2px solid @background-alt;
}

.widget-dnd > switch:checked slider {
  background:  @hover;
  border-radius: 14px;
  border: 2px solid @background-alt;
}

/* Buttons */

.control-center {
  background: alpha(@background, .5);
  border-radius: 14px;
  border: 3px solid @selected;
  /*box-shadow: 0 0 10px 0 rgba(0,0,0,.6);*/
  margin: 8px 9px;
  padding: 12px;
}

/* Notifications  */
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @background-alt;
  border-radius: 14px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@selected, .6);
  color: @text;
  border-radius: 14px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
}

progressbar,
progress,
trough {
  border-radius: 14px;
}

trough highlight {
  padding: 8px;
  border-radius: 14px;
}

/* Notifications expanded-group */

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 14px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @hover;
}  